<% content_for(:head) do -%>
  <%= javascript_include_tag 'jquery.jfeed.js' %>
  <%= javascript_include_tag 'common' %>
  <%= javascript_include_tag 'admin/dashboard' %>
<% end -%>

<div id="summary">
  <h1><%= link_to(h(config[:title]), '/') %></h1>
  <p class="stats">
    <%= pluralize(@stats.post_count, 'post') %>,<%= pluralize(@stats.tag_count, 'tag') %>
  </p>
</div>

<div id="recent-posts" class="panel">
  <h2>Latest Posts</h2>
  <ul>
    <% @posts.each_with_index do |post, i| -%>
      <li class="<%= i == 0 ? 'first ' : '' %>item">
        <%= link_to("<h3>%s</h3>" % [h(truncate(post.title, :length => 50))], admin_post_path(post)) %>
        <span class='date'><%=h post.published_at.strftime("%b %e") %></span>
      </li>  
    <% end -%>
  </ul>  
</div>